.h1 {
    font-size: 1.5rem;
    font-weight: bold;
}
.form {
    &-row {
        margin-bottom: 10px;
    }
    &-label {
        display: block;
        margin-bottom: 5px;
    }
    &-input,
    &-textarea,
    &-select {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 6px 10px;
        width: 100%;
    }
    &-input {
        &-s {
            width: 50px;
        }
        &-m {
            width: 100px;
        }
    }
    &-select {
        width: 100px;
        position: relative;
        &:after {
            content: "";
            width: 5px;
            height: 5px;
            position: absolute;
            right: 5px;
            top: 5px;
        }
    }
    &-checkbox {
        cursor: pointer;
        content: "";
        display: inline-block;
        border: 1px solid #000;
        width: 15px;
        height: 15px;
        margin-right: 10px;
        &:checked {
            background-color: rgb(250, 166, 118);
        }
    } 
}
 
.mr-10 {
    margin-right: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-20 {
    padding-top: 20px;
}

.pb-20 {
    padding-bottom: 20px;
}

b {
    font-weight: bold;
}

.flex {
    display: flex;
}

.flex-right {
    justify-content: end;
}
.flex-justify-between {
    justify-content: space-between;
}

.btn {
    color: #fff;
    background: rgb(230, 92, 13);
    padding: 10px 15px;
    font-size: .9rem;
    cursor: pointer;
    white-space: nowrap;
  }